<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/blouse.css}">
</head>
<body>
	<h1>Lehenga</h1>
	<nav class="n">
		<div class="n1">
			<div class="n2">
				<h1>KalaTailoring</h1>
			</div>
			<div class="n3">
				<ul>
					<li><a
						th:href="@{/Submit(adminEmail=${adminEmail}, adminPassword=${adminPassword})}">Home</a></li>
					<li><a
						th:href="@{/Submit(adminEmail=${adminEmail}, adminPassword=${adminPassword})}+'#card'">Services</a></li>
					<li><a
						th:href="@{/Submit(adminEmail=${adminEmail}, adminPassword=${adminPassword})}+'#footer'">Contact</a></li>
					<li><a href="#"> <select id="userOptions"
							onchange="navigateToPage()"
							style="background: #56293f; width: 100px; color: #fff; border: none;">
								<option value="" disabled selected><span
										th:text="${adminName}"></span></option>
								<option th:value="@{/}">logout</option>
						</select> <script>
							function navigateToPage() {
								var selectedOption = document
										.getElementById("userOptions").value;
								if (selectedOption) {
									window.location.href = selectedOption;
								}
							}
						</script>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section>
		<div>
			<img alt="/" src="/Directory/straight cut lehenga.webp">
		</div>
		<div>
			<h1>straight cut lehenga</h1>
			<button>
				<a
					th:href="@{/addlehenga(adminName=${adminName}, adminEmail=${adminEmail}, lehengaType='straightcutlehenga', adminPassword=${adminPassword})}"
					style="color: #fff;"> Add Details </a>

			</button>
		</div>
	</section>
	<section>
		<div>
			<img alt="/" src="/Directory/Umbrella cut lehenga.webp">
		</div>
		<div>
			<h1>Umbrella cut lehenga</h1>
			<button>
				<a
					th:href="@{/addlehenga(adminName=${adminName}, adminEmail=${adminEmail}, lehengaType='Umbrellacutlehenga', adminPassword=${adminPassword})}"
					style="color: #fff;"> Add Details </a>

			</button>
		</div>
	</section>
	<section>
		<div>
			<img alt="/" src="/Directory/Half saree lehenga.jpg">
		</div>
		<div>
			<h1>Half saree lehenga</h1>
			<button>
				<a
					th:href="@{/addlehenga(adminName=${adminName}, adminEmail=${adminEmail}, lehengaType='Halfsareelehenga', adminPassword=${adminPassword})}"
					style="color: #fff;"> Add Details </a>

			</button>
		</div>
	</section>
	<footer id="footer">
		<div>
			<h1>Contact</h1>
			<ul>
				<li>Kengeri</li>
				<li>Kala@gmail.com</li>
				<li>7795405705</li>
				<li>938099381</li>
			</ul>
		</div>
	</footer>
</body>
</html>